# Docker variables
DOCKER_PROJECT_NAME="testbed"

# Fabric variables
FABRIC_VERSION="2.5.13"

# Network variables
NETWORK_CFG_PATH="../config"
NETWORK_BIN_PATH="../bin"
NETWORK_ORG_PATH="../organizations"
NETWORK_IDS_PATH="../identities"
NETWORK_CMP_PATH="../compose"
NETWORK_PKG_PATH="../package"
NETWORK_LOG_PATH="../logs"
NETWORK_CHN_PATH="../channel"
NETWORK_CHN_NAME="mychannel"

# Defaults organizations
DEFAULT_ORG=1
DEFAULT_ORD=1

# Chaincode variables
CC_NAME="cc-test"
CC_SRC_PATH="../../chaincode/cc-test"
CC_SRC_LANG="javascript"