# Fabric variables
FABRIC_BIN_PATH="/home/wamuumu/HLF/fabric-samples/bin"
FABRIC_CFG_PATH="../config"
FABRIC_VERSION="latest"

# Network variables
NETWORK_ORG_PATH="../organizations"
NETWORK_PROFILE_PATH="../profiles"
NETWORK_COMPOSE_PATH="../compose"
NETWORK_CHANNEL_PATH="../channel"
NETWORK_PACKAGE_PATH="../package"
NETWORK_CHANNEL_NAME="mychannel"

# Docker variables
DOCKER_PROJECT_NAME="test-events"

# Chaincode variables
CC_NAME="cc-test"
CC_PATH="../../chaincode/$CC_NAME"
CC_RUNTIME_LANGUAGE="node"
CC_VERSION="1.0"
CC_SEQUENCE="1"