# Docker variables
DOCKER_PROJECT_NAME="testbed"

# Fabric variables
FABRIC_VERSION="2.5.13"

# Network variables
NETWORK_CFG_PATH="../config"
NETWORK_CRP_PATH="../crypto"
NETWORK_CTX_PATH="../configtx"
NETWORK_BIN_PATH="../bin"
NETWORK_ORG_PATH="../organizations"
NETWORK_IDS_PATH="../identities"
NETWORK_CMP_PATH="../compose"
NETWORK_PKG_PATH="../package"
NETWORK_CHN_PATH="../channel"
NETWORK_CHN_NAME="mychannel"

# Defaults variables
DEFAULT_ORG_DOMAIN="org1.tesbed.local"
DEFAULT_ORD="orderer.ord1.testbed.local"
DEFAULT_PEER_ID=1
DEFAULT_ENDPOINT="localhost"

# Chaincode variables
CC_NAME="cc-test"
CC_SRC_PATH="../../chaincode/cc-test"
CC_SRC_LANG="javascript"
CC_VERSION="1.0"