FABRIC_DEFAULT_ORGANIZATION=Org1
FABRIC_DEFAULT_MSPID=Org1MSP
FABRIC_DEFAULT_DOMAIN=org1.testbed.local
FABRIC_DEFAULT_PEER_ENDPOINT=localhost:7051
FABRIC_DEFAULT_PEER_HOSTNAME=peer0.org1.testbed.local
FABRIC_DEFAULT_USER=User1
FABRIC_DEFAULT_CHANNEL=mychannel
FABRIC_DEFAULT_CC_NAME=cc-test

CONNECTION_RECONNECT_TIMEOUT=10000
CONNECTION_RECONNECT_INTERVAL=5000
CONNECTION_RECONNECT_MAX_TRIES=5

PORT=3000
NODE_ENV=development

CRYPTO_PATH=/home/wamuumu/hlf-events/network/organizations