FABRIC_DEFAULT_ORGANIZATION=Org1
FABRIC_DEFAULT_MSPID=Org1MSP
FABRIC_DEFAULT_DOMAIN=org1.testbed.local
FABRIC_DEFAULT_PEER_ENDPOINT=localhost:7051
FABRIC_DEFAULT_PEER_HOSTNAME=peer0.org1.testbed.local
FABRIC_DEFAULT_USER=User1
FABRIC_DEFAULT_CHANNEL=mychannel
FABRIC_DEFAULT_CC_NAME=cc-test

PKEY_PATH=/home/wamuumu/hlf-events/node-app/crypto/peerOrganizations/org1.testbed.local/users/User1@org1.testbed.local/msp/keystore/priv_sk
CERT_PATH=/home/wamuumu/hlf-events/node-app/crypto/peerOrganizations/org1.testbed.local/users/User1@org1.testbed.local/msp/signcerts/User1@org1.testbed.local-cert.pem
TLSCERT_PATH=/home/wamuumu/hlf-events/node-app/crypto/peerOrganizations/org1.testbed.local/peers/peer0.org1.testbed.local/tls/ca.crt

CONNECTION_RECONNECT_TIMEOUT=10000
CONNECTION_RECONNECT_INTERVAL=5000
CONNECTION_RECONNECT_MAX_TRIES=5

PORT=3000
NODE_ENV=development
