FABRIC_DEFAULT_ORGANIZATION=Org1
FABRIC_DEFAULT_USER=User1
FABRIC_DEFAULT_CHANNEL=mychannel
FABRIC_DEFAULT_CC_NAME=cc-test

CONNECTION_RECONNECT_TIMEOUT=10000
CONNECTION_RECONNECT_INTERVAL=5000
CONNECTION_RECONNECT_MAX_TRIES=5

PORT=3000
NODE_ENV=development
